<!doctype html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Bintang Samudro</title>
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}" type="text/css">
</head>

<body>

    {% include "includes/navbar.html" %}

    <section id="profile">
        <h1>BIAR KENA SPACE AJA</h1>
        <h1 style="text-align: center; padding-top: 25px; border: 15px solid rgb(255, 255, 255);">{{page_title}}</h1>
        <div class="card">
            {% for post in posts %}
            <div class="border-black">
                <div class="box-card">
                    <h5 class="card-header">{{post.nama_kegiatan}}</h5>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>List Peserta : </th>
                                </tr>
                            </thead>
                            {% for orang in peserta %}
                            {% if orang.ikut_kegiatan == post %}
                            <tbody>
                                <tr>
                                    <td>{{ orang.nama_peserta }}</td>
                                </tr>
                            </tbody>
                            {% endif %}
                            {% endfor %}
                        </table>

                        <!-- Button trigger modal -->
                        <a class="btn btn-danger" href="{% url 'home:delete' post.id %}" title="">Delete</a>
                        <a class="btn btn-info" href="{% url 'home:peserta' post.id%}">Tambah Peserta</a>
                    </div>
                </div>
            </div>
            <div class="buat-nurunin-doang" style="border-top: 50px solid rgb(255, 255, 255);">
            </div>
            {% endfor %}
            <div class="buat-nurunin-doang" style="border-top: 125px solid rgb(255, 255, 255);">
                <a class="btn btn-success" href="{% url 'home:newpage' %}" title="">Buat Kegiatan Baru</a>
            </div>
        </div>
    </section>

    {% include "includes/socialmedia.html" %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>