#navbar-background {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

li, a, button  {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: azure;
    text-decoration: none;
}

#middle-navbar li {
    display: inline-block;
    padding: 0px 5px;
    
}

#middle-navbar li a {
    transition: all 0.3s ease 0.2s;
    color: azure;
}

#middle-navbar li a:hover {
    color: gold;
}

#right-navbar button {
    padding: 4px 25px;
    background-color:(37, 18, 18);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: rgb(7, 7, 7);
}

#right-navbar  button:hover {
    background-color: gold;
    color: rgb(0, 0, 0);
}

.front-page {
    position: relative;
    text-align: center;
    color: white;
}

.front-page img {
    filter: brightness(20%);
    width: 100%;
}

.fourth-page {
    position: relative;
    text-align: center;
    color: white;
}

.fourth-page img {
    filter: brightness(20%);
    width: 100%;
}


@media only screen and (max-width: 768px) { 
    .front-page .nama h1{
        top: 48%;
        left: 50%;
        font-size: 20px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .front-page .bawahnya{
        top: 56%;
    }

    .front-page .bawahnya h5 {
        top: 56%;
        left: 50%;
        font-size: 9px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .front-page img {
        filter: brightness(20%);
        width: 100%; /* width of container */
        height: 595px; /* height of container */
        object-fit: cover;
    }

    .fourth-page .nama h1{
        top: 48%;
        left: 50%;
        font-size: 20px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .fourth-page .bawahnya{
        top: 56%;
    }

    .fourth-page .bawahnya h5 {
        top: 56%;
        left: 50%;
        font-size: 9px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .fourth-page img {
        filter: brightness(20%);
        width: 100%; /* width of container */
        height: 595px; /* height of container */
        object-fit: cover;
    }
}


.front-page .nama{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    font-weight: 600;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.front-page .bawahnya{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fourth-page .nama{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    font-weight: 600;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.fourth-page .bawahnya{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (min-width: 1024px) {
    .container-profile {
        border: 65px solid rgb(234, 240, 240);
        background-color: rgb(255, 255, 255);
        height: 790px;
    }
    
    .container-profile .box-profile {
        border: 55px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 659px;
        -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    }
    
    .container-profile .box-profile .box-profile-inside {
        float: left;
        width: 50%;
        padding: 5px;
    }
    
    /* ini untuk bagian yang kanan pada box*/
    
    .box-profile-inside .box-right-title .title {
        font-size: 30px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .box-profile-inside .underline-title .underline {
        font-size: 14px;
        font-weight: 900;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #44bcd8;
        margin-bottom: 35px;
    }
    
    .box-profile-inside .first-paragraph, .second-paragraph, .third-paragraph {
        font-size: 1.1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4E4E4E;
        line-height: 1.6;
        margin-bottom: 16px;
    }
    
    /* ini untuk bagian yang kiri pada box*/
    
    /* foto */
    
    .box-profile-inside .box-left-upper-bio {
        border: 5px solid rgb(255, 255, 255);
    }
    
    .box-profile-inside .box-left-bottom-bio {
        border: 1px solid rgb(255, 255, 255);
    }
    
    /* biodata */
    
    .biodata-foto, .biodata-umum{
        float: left;
        padding: 0px;
        height: 175px;
    }
    
    .biodata-umum span {
        padding-left: 60px;
    }
    
    .box-left-upper-bio:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .box-profile-inside .box-left-upper-bio .biodata-umum {
        font-size: 1.0rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4E4E4E;
    }
    
    .box-left-upper-bio img {
        border-radius: 9%;
    }
    
    /* skill-bar */
    
    .box-left-bottom-bio .skill-bar h2 {
        font-size: 25px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4E4E4E;
        position: relative;
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .box-left-bottom-bio .skill-bar ul li {
        font-size: 1.15rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4E4E4E;
        position: relative;
        list-style: none;
        margin: 40px 0;
    }
    
    .box-left-bottom-bio .skill-bar ul li:before {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 90%;
        height: 15px;
        background-color: rgba(54, 126, 223, .5);
        border-radius: 4px;
    }
    
    .box-left-bottom-bio .skill-bar ul li:after {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 0;
        height: 15px;
        background-color: rgba(54, 126, 223, 1);
        border-radius: 4px;
        animation-duration: .7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    
    .box-left-bottom-bio .skill-bar ul li.python:after {
        animation-name: python;
    }
    
    @keyframes python {
        to {
            width: 60%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.java:after {
        animation-name: java;
    }
    
    @keyframes java {
        to {
            width: 55%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.html:after {
        animation-name: html;
    }
    
    @keyframes html {
        to {
            width: 30%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.css:after {
        animation-name: css;
    }
    
    @keyframes css {
        to {
            width: 30%;
        }
    }

    /*my profile*/
    .box-profile-inside-bottom {
        border: px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 490px;
    }

    .underline-title h2 {
        font-size: 10px;
    }

    .box-profile-inside-bottom .paragraph {
        border: 25px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
    }

    .box-profile-inside-bottom .paragraph .first-paragraph, .second-paragraph {
        height: 150px;
    }

}

@media only screen and (max-width: 768px) and (min-width: 426px) {
    
    .container-profile {
        border: 35px solid rgb(234, 240, 240);
        background-color: rgb(255, 255, 255);
        height: 1550px;
    }
    
    .box-left-upper-bio {
        border: 45px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 490px;
    }

    .biodata-foto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 0px;
    }

    .biodata-foto img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 9%;
    }
    
    .biodata-umum {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 30px;
        height: 276px;
    }

    /* skill */

    .box-left-bottom-bio {
        border: 25px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 430px;
    }

    .box-left-bottom-bio .skill-bar h2 {
        font-size: 35px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4E4E4E;
        position: relative;
        padding-left: 20px;
        padding-top: 20px;
        text-align: center;
    }
    
    .box-left-bottom-bio .skill-bar ul li {
        font-size: 1.15rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4E4E4E;
        position: relative;
        list-style: none;
        margin: 40px 0;
    }
    
    .box-left-bottom-bio .skill-bar ul li:before {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 90%;
        height: 15px;
        background-color: rgba(54, 126, 223, .5);
        border-radius: 4px;
    }
    
    .box-left-bottom-bio .skill-bar ul li:after {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 0;
        height: 15px;
        background-color: rgba(54, 126, 223, 1);
        border-radius: 4px;
        animation-duration: .7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    
    .box-left-bottom-bio .skill-bar ul li.python:after {
        animation-name: python;
    }
    
    @keyframes python {
        to {
            width: 60%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.java:after {
        animation-name: java;
    }
    
    @keyframes java {
        to {
            width: 55%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.html:after {
        animation-name: html;
    }
    
    @keyframes html {
        to {
            width: 30%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.css:after {
        animation-name: css;
    }
    
    @keyframes css {
        to {
            width: 30%;
        }
    }

    /*my profile*/
    .box-profile-inside-bottom {
        border: 25px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 490px;
    }

    .box-profile-inside-bottom h2 {
        text-align: center;
    }

    .underline-title h2 {
        font-size: 10px;
    }

    .box-profile-inside-bottom .paragraph {
        border: 25px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
    }

    .box-profile-inside-bottom .paragraph .first-paragraph, .second-paragraph {
        height: 150px;
    }
}

@media only screen and (max-width: 426px) {
    .container-profile {
        border: 35px solid rgb(234, 240, 240);
        background-color: rgb(255, 255, 255);
        height: 2100px;
    }
    
    .box-left-upper-bio {
        border: 25px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 450px;
    }

    .biodata-foto {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0px;
        height: 170px;
    }

    .biodata-foto img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 9%;
    }
    
    .biodata-umum {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 10px;
        height: 226px;
    }

    .box-left-bottom-bio {
        border: 25px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 430px;
    }

    .box-left-bottom-bio .skill-bar h2 {
        font-size: 35px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4E4E4E;
        position: relative;
        text-align: center;
    }
    
    .box-left-bottom-bio .skill-bar ul li {
        font-size: 1.15rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4E4E4E;
        position: relative;
        list-style: none;
        margin: 40px 0;
    }
    
    .box-left-bottom-bio .skill-bar ul li:before {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 90%;
        height: 15px;
        background-color: rgba(54, 126, 223, .5);
        border-radius: 4px;
    }
    
    .box-left-bottom-bio .skill-bar ul li:after {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 0;
        height: 15px;
        background-color: rgba(54, 126, 223, 1);
        border-radius: 4px;
        animation-duration: .7s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    
    .box-left-bottom-bio .skill-bar ul li.python:after {
        animation-name: python;
    }
    
    @keyframes python {
        to {
            width: 60%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.java:after {
        animation-name: java;
    }
    
    @keyframes java {
        to {
            width: 55%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.html:after {
        animation-name: html;
    }
    
    @keyframes html {
        to {
            width: 30%;
        }
    }
    
    .box-left-bottom-bio .skill-bar ul li.css:after {
        animation-name: css;
    }
    
    @keyframes css {
        to {
            width: 30%;
        }
    }

    /*my profile*/
    .box-profile-inside-bottom {
        border: 25px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 1150px;
    }

    .box-profile-inside-bottom h2 {
        text-align: center;
    }

    .underline-title h2 {
        font-size: 10px;
    }

    .box-profile-inside-bottom .paragraph {
        border: 25px solid rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        height: 1040px;
    }

    .box-profile-inside-bottom .paragraph .first-paragraph, .second-paragraph, .third-paragraph {
        text-align: center;
    }

    .box-profile-inside-bottom .paragraph .first-paragraph, .second-paragraph {
        text-align: center;
        height: 350px;
    }
}

/* ini untuk bagian dibuat menjadi background*/

.container-background {
    border: 1px solid rgb(234, 240, 240);
    background-color: rgb(255, 255, 255);
    height: 1080px;
}

/* judulnya dari background */

.container-background .title h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* educational background bagian atas */

.box-educational {
    border: 55px solid rgb(255, 255, 255);
}

.box-educational .educational{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    line-height: 1.6;
    font-family: 'Poppins';
}

.box-educational .educational .educational-school {
    display: flex;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: 80px;
    justify-content: space-between;
}

.box-educational .educational .educational-school .box-edu{
    position: relative;
    width: 350px;
    margin: 15px;
    padding: 45px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.box-educational .educational .educational-school .box-edu:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(225, 225, 225, .2);
    z-index: 2;
    pointer-events: none;
}

.box-educational .educational .educational-school .box-edu .tingkat{
    position: relative;
    width: 110px;
    height: 110px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    margin-bottom: 33px;
    border-radius: 50%;
    transition: 1s;
}

/* untuk sekolah */

.box-educational .educational .educational-school .box-edu:nth-child(1) .tingkat {
    box-shadow: 0 0 0 0 #fff;
    background: #fff;
}

.box-educational .educational .educational-school .box-edu:nth-child(1):hover .tingkat {
    box-shadow: 0 0 0 400px #808080;
    background: #808080;
}

.box-educational .educational .educational-school .box-edu:nth-child(2) .tingkat {
    box-shadow: 0 0 0 0 #fff;
    background: #fff;
}

.box-educational .educational .educational-school .box-edu:nth-child(2):hover .tingkat {
    box-shadow: 0 0 0 400px #b94618;
    background: #b94618;
}

.box-educational .educational .educational-school .box-edu:nth-child(3) .tingkat {
    box-shadow: 0 0 0 0 #fff;
    background: #fff;
}

.box-educational .educational .educational-school .box-edu:nth-child(3):hover .tingkat {
    box-shadow: 0 0 0 400px #008000;
    background: #008000;
}

.box-educational .educational .educational-school .box-edu:nth-child(4) .tingkat {
    box-shadow: 0 0 0 0 #fff;
    background: #fff;
}

.box-educational .educational .educational-school .box-edu:nth-child(4):hover .tingkat {
    box-shadow: 0 0 0 400px #778899;
    background: #768798;
}

.box-educational .educational .educational-school .box-edu:nth-child(5) .tingkat {
    box-shadow: 0 0 0 0 #fff;
    background: #fff;
}

.box-educational .educational .educational-school .box-edu:nth-child(5):hover .tingkat {
    box-shadow: 0 0 0 400px #1E90FF;
    background: #1E90FF;
}

.box-educational .educational .educational-school .box-edu:nth-child(6) .tingkat {
    box-shadow: 0 0 0 0 #fff;
    background: #fff;
}

.box-educational .educational .educational-school .box-edu:nth-child(6):hover .tingkat {
    box-shadow: 0 0 0 400px #ADA638;
    background: #ADA638;
}

.box-educational .educational .educational-school .box-edu .content{
    position: relative;
    z-index: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s;
}

.box-educational .educational .educational-school .box-edu:hover .content{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-educational .educational .educational-school .box-edu .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.box-educational .educational .educational-school .box-edu .content h2{
    margin-bottom: 22px;
    padding: 0;
    font-weight: 450;
    font-size: 24px;
}

.box-educational .educational .educational-school .box-edu .content a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}


@media only screen and (max-width: 1367px) {
    .container-background {
        border: 1px solid rgb(234, 240, 240);
        background-color: rgb(255, 255, 255);
        height: 1440px;
    }
}

@media only screen and (max-width: 1025px) {
    .container-background {
        border: 1px solid rgb(234, 240, 240);
        background-color: rgb(255, 255, 255);
        height: 2600px;
    }
}
@media only screen and (min-width: 1442px) {
    /* judulnya dari background */

    .container-social-media {
        border: 25px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        height: 430px;
    }

    .container-social-media .container-social-media-title h1 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    .container-social-media .social-media-menu ul {
        position: relative;
        margin-top: 75px;
        text-align: center;
        display: flex;
        margin-left: 325px;
    }

    .container-social-media .social-media-menu ul li {
        list-style: none;
        margin: 0 55px;
    }

    .container-social-media .social-media-menu ul li .fa {
        font-size: 40px;
        line-height: 80px;
        transition: .6s;
        color: #000;
    }

    .container-social-media .social-media-menu ul li .fa:hover {
        color: #fff;
    }

    .container-social-media .social-media-menu ul li a {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 20%;
        background-color: #f2f2f2;
        transition: .6s;
        box-shadow: 0 5px 4px rgba(255, 255, 255, 0.5);
    }

    .container-social-media .social-media-menu ul li a:hover {
        transform: translate(0, -10px);
    }

    .container-social-media .social-media-menu ul li:nth-child(1) a:hover {
        background-color: #3b5999;
    }

    .container-social-media .social-media-menu ul li:nth-child(2) a:hover {
        background-color: #55acee;
    }

    .container-social-media .social-media-menu ul li:nth-child(3) a:hover {
        background-color: #e4405f
    }

    .container-social-media .social-media-menu ul li:nth-child(4) a:hover {
        background-color: #0077B5;
    }

    .container-social-media .social-media-menu .container-social-media-title-thanks h1{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1442px) {
    /* judulnya dari background */

    .container-social-media {
        border: 25px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        height: 430px;
    }

    .container-social-media .container-social-media-title h1 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    .container-social-media .social-media-menu ul {
        position: relative;
        margin-top: 75px;
        text-align: center;
        display: flex;
        margin-left: 225px;
    }

    .container-social-media .social-media-menu ul li {
        list-style: none;
        margin: 0 55px;
    }

    .container-social-media .social-media-menu ul li .fa {
        font-size: 40px;
        line-height: 80px;
        transition: .6s;
        color: #000;
    }

    .container-social-media .social-media-menu ul li .fa:hover {
        color: #fff;
    }

    .container-social-media .social-media-menu ul li a {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 20%;
        background-color: #f2f2f2;
        transition: .6s;
        box-shadow: 0 5px 4px rgba(255, 255, 255, 0.5);
    }

    .container-social-media .social-media-menu ul li a:hover {
        transform: translate(0, -10px);
    }

    .container-social-media .social-media-menu ul li:nth-child(1) a:hover {
        background-color: #3b5999;
    }

    .container-social-media .social-media-menu ul li:nth-child(2) a:hover {
        background-color: #55acee;
    }

    .container-social-media .social-media-menu ul li:nth-child(3) a:hover {
        background-color: #e4405f
    }

    .container-social-media .social-media-menu ul li:nth-child(4) a:hover {
        background-color: #0077B5;
    }

    .container-social-media .social-media-menu .container-social-media-title-thanks h1{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
@media only screen and (max-width: 769px) and (min-width: 366px){
    /* judulnya dari background */

    .container-social-media {
        border: 25px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        height: 430px;
    }

    .container-social-media .container-social-media-title h1 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    .container-social-media .social-media-menu ul {
        position: relative;
        margin-top: 75px;
        text-align: center;
        display: flex;
        margin-left: 20px;
    }

    .container-social-media .social-media-menu ul li {
        list-style: none;
        margin: 0 35px;
    }

    .container-social-media .social-media-menu ul li .fa {
        font-size: 40px;
        line-height: 80px;
        transition: .6s;
        color: #000;
    }

    .container-social-media .social-media-menu ul li .fa:hover {
        color: #fff;
    }

    .container-social-media .social-media-menu ul li a {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 20%;
        background-color: #f2f2f2;
        transition: .6s;
        box-shadow: 0 5px 4px rgba(255, 255, 255, 0.5);
    }

    .container-social-media .social-media-menu ul li a:hover {
        transform: translate(0, -10px);
    }

    .container-social-media .social-media-menu ul li:nth-child(1) a:hover {
        background-color: #3b5999;
    }

    .container-social-media .social-media-menu ul li:nth-child(2) a:hover {
        background-color: #55acee;
    }

    .container-social-media .social-media-menu ul li:nth-child(3) a:hover {
        background-color: #e4405f
    }

    .container-social-media .social-media-menu ul li:nth-child(4) a:hover {
        background-color: #0077B5;
    }

    .container-social-media .social-media-menu .container-social-media-title-thanks h1{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}


@media only screen and (max-width: 765px) and (min-width: 377px){
    /* judulnya dari background */

    .container-social-media {
        border: 25px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        height: 730px;
    }

    .container-social-media .container-social-media-title h1 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    .container-social-media .social-media-menu ul {
        position: relative;
        margin-top: 75px;
        text-align: center;
        display: block;
        margin-left: 55px;
    }

    .container-social-media .social-media-menu ul li {
        list-style: none;
        margin: 45px 55px;
    }

    .container-social-media .social-media-menu ul li .fa {
        font-size: 40px;
        line-height: 80px;
        transition: .6s;
        color: #000;
    }

    .container-social-media .social-media-menu ul li .fa:hover {
        color: #fff;
    }

    .container-social-media .social-media-menu ul li a {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 20%;
        background-color: #f2f2f2;
        transition: .6s;
        box-shadow: 0 5px 4px rgba(255, 255, 255, 0.5);
    }

    .container-social-media .social-media-menu ul li a:hover {
        transform: translate(0, -10px);
    }

    .container-social-media .social-media-menu ul li:nth-child(1) a:hover {
        background-color: #3b5999;
    }

    .container-social-media .social-media-menu ul li:nth-child(2) a:hover {
        background-color: #55acee;
    }

    .container-social-media .social-media-menu ul li:nth-child(3) a:hover {
        background-color: #e4405f
    }

    .container-social-media .social-media-menu ul li:nth-child(4) a:hover {
        background-color: #0077B5;
    }

    .container-social-media .social-media-menu .container-social-media-title-thanks h1{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media only screen and (max-width: 376px) {
    /* judulnya dari background */

    .container-social-media {
        border: 25px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        height: 730px;
    }

    .container-social-media .container-social-media-title h1 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    .container-social-media .social-media-menu ul {
        position: relative;
        margin-top: 75px;
        text-align: center;
        display: block;
        margin-left: 30px;
    }

    .container-social-media .social-media-menu ul li {
        list-style: none;
        margin: 45px 55px;
    }

    .container-social-media .social-media-menu ul li .fa {
        font-size: 40px;
        line-height: 80px;
        transition: .6s;
        color: #000;
    }

    .container-social-media .social-media-menu ul li .fa:hover {
        color: #fff;
    }

    .container-social-media .social-media-menu ul li a {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 20%;
        background-color: #f2f2f2;
        transition: .6s;
        box-shadow: 0 5px 4px rgba(255, 255, 255, 0.5);
    }

    .container-social-media .social-media-menu ul li a:hover {
        transform: translate(0, -10px);
    }

    .container-social-media .social-media-menu ul li:nth-child(1) a:hover {
        background-color: #3b5999;
    }

    .container-social-media .social-media-menu ul li:nth-child(2) a:hover {
        background-color: #55acee;
    }

    .container-social-media .social-media-menu ul li:nth-child(3) a:hover {
        background-color: #e4405f
    }

    .container-social-media .social-media-menu ul li:nth-child(4) a:hover {
        background-color: #0077B5;
    }

    .container-social-media .social-media-menu .container-social-media-title-thanks h1{
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-top: 35px;
        position: relative;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.box-card {
    border-bottom: 25px solid rgb(255, 255, 255);
}

.card {
    border: 45px solid rgb(255, 255, 255);
}

.border-black {
    border: 1px solid black;
}